
# ----- prohacktive.conf ----- #

[DATABASE]
db_host = localhost
db_port = 27017
db_name = prohacktive
db_user = 
db_pass = 

[VULNERS]
# Vulners.com API Key
vulners_api_key =

[PROCESSES]
# Limit processes for source updating
process_limit_update = 16
# Limit processes for source fetching
process_limit_fetch = 16
