# ----- prohacktive.conf -----
# Host of mongodb

[DATABASE]
db_host = localhost
db_port = 27017
db_name = prohacktive
db_user =
db_pass =

[VULNERS]
# Vulners.com API Key
vulners_api_key = 

[THREADS]
# Limit threads for source updating
thread_limit_update = 8
# Limit threads for source fetching
thread_limit_fetch = 8